@charset "UTF-8";

:root{
    --ecuro: #011826;
    --medio: #012840;
    --claro: #025373;
    --claro2:#025E73;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color:#011826;
    

}
.menu{
    
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #011a2986;
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 20px;
    backdrop-filter: blur(10px);

}
a{
    text-decoration: none;
}
.fa-solid {
    color: #ffffff;
    margin-right: 4em;
}



.menu:hover{
    box-shadow: 0px 5px 10px #025373;
    

}



.foto{
    
    background-color: #025E73;
    width: 270px;
    height: 270px;
    margin: auto;
    margin-top: 100px;
    border-radius:  50% ;
    background-image: url(imagens/minha\ imagem.jpg);
    background-position:  center;
    
    
    
}
.foto:hover{
    box-shadow: 0px 1px 30px #025373;
    
    
}



h1{
    text-align: center;
    padding: 10px;
    font-size: 2em;
    color: white;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: center;
    color: white;
    width: 180px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    font-size: 1em;

   }
   .sobre{
   padding: 40px;
   display: flex;
   justify-content: center;
   text-indent: 30px;
   
   
 
   
   
   
   

   }
   .paragrafo{
    background-color: #68686818;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 700px;
    display: flex;
    box-shadow: 0px 5px 10px #025373;
    
    
    
    
   
   }
   .sobremim{
    margin-top: 100px;
    font-size: 2em;
   
   }
 
   .paragrafo:hover{
   
   
    

    
   }
 .caxa{
    background-color: var(--ecuro);
    margin-top: -40px;
    padding: 20px;
   display: flex;
   justify-content: center;
   
  
   
}

.fa-brands {
    color: #ffffff;
   
    
    
}
#lisicon{
    list-style: none;
    display: inline-block;
    margin: 10px;
    background-color: #68686818;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    
    
    
}
#lisicon:hover{
    box-shadow: 0px 5px 10px #025373;
    border: 1px solid #ffffff;
    transition: 1000ms;
    

}


  
  .whatsapp-form {
    background-color: #012840;
    
    margin-top: 200px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  .groud{
    
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  
  h2 {
    text-align: center;
    color: #025E73;
    margin-bottom: 20px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color:#025E73;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #128c7e;
  }
  
 
 
 
  